<div>
    <div>

        <div *ngIf="formSubmittionstatus">
            {{ results }}
        </div>
        <form [formGroup]="person" (ngSubmit)="onSubmit()" *ngIf="!formSubmittionstatus">
            <!-- Username: <input type="email" formControlName="username"> <br><br> -->
            New Password: <input type="password" formControlName="password"> <br> <br>
            Confirm NEw Password: <input type="password" formControlName="confirmPassword"> <br> <br>
            <button type="submit" [disabled]="!person.valid">Submit</button>
        </form>

    </div>
</div>
