<div>
    <div>
        <h2>Fill the Details to Reset Password</h2>
    </div>

    <div>
        <div *ngIf="!status">
            {{results}}
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="status">

            <label>Enter your email address</label>

            <input type="email" formControlName="email">  &nbsp;

            <span *ngIf="email?.touched && email?.errors?.['required']" class="errors">
                Email is required
            </span>

            <span *ngIf="email?.touched && email?.errors?.['email']" class="errors">
                Email is invalid
            </span>


            <br> <br>
            <button type="submit" [disabled]="form.invalid">Submit</button>

        </form>

    </div>
</div>
